.frame {
  border: solid black 1px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-width: 20vw;
}

.IDInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.SubmitButton {
  margin: 5%;
  background-color: white;
  border: solid black 1px;
  border-radius: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
